In [1]:
from pyspark import SparkConf , SparkContext

conf = SparkConf().setMaster("local").setAppName("241205_03_reduce")
spark = SparkContext(conf=conf).getOrCreate()

24/12/05 10:51:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

### Reduce : 여러개의 값을 하나로 축약

In [6]:
#RDD.rduce( <func>)

In [3]:
sample_rdd = spark.parallelize([1,2,3,4,5])
sample_rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

In [4]:
from operator import add

In [5]:
sample_rdd.reduce(add)

15

## Partition이 나뉘어져 있을 때

*** Reduce 연산은 순서 의존적 ***

각 파티션 내에서 연산은 독립적으로 실행, 최종 결과는 파티션 간의 결과가 결합

ex) lambda x,y : (x*2)+y

1: x=1, y=2 >> (1*2)+2 = 4

2: x=4, y=3 >> (4*2)+2 = 11

3: x=11, y=4 >> (11*2)+4 = 26

In [8]:
sample_rdd1 = spark.parallelize([1,2,3,4])
sample_rdd1.reduce(lambda x,y : (x*2)+y)

26

In [9]:
sample_rdd1.glom().collect()

[[1, 2, 3, 4]]

In [12]:
sample_rdd2 = spark.parallelize([1,2,3,4],2)
sample_rdd2.glom().collect()

[[1, 2], [3, 4]]

파티션1

1: 1*2 + 2 =4

파티션2

1: 3*2 + 4 = 10

최종결합

x=4, y=10
4*2 + 10 = 18

In [14]:
sample_rdd2.reduce(lambda x,y : (x*2)+y )

18

파티션1

1: 1

파티션2

1: 2

파티션3

1: 3 * 2 + 4 = 10

* p1, p2 결합

x = 1, y = 2 : 1 * 2 + 2 = 4

* 4와 p3 결합

x = 4, y = 10 : 4 * 2 + 10 = 18

In [18]:
sample_rdd3 = spark.parallelize([1,2,3,4],3)
sample_rdd3.glom().collect()

[[1], [2], [3, 4]]

In [19]:
sample_rdd3.reduce(lambda x,y : (x*2)+y )

18

## fold 연산의 활용


fold(zeroValue, \<func> )

zeroValue : 시작값, 항등원 *일때 1, +일 경우 0

In [20]:
rdd4 =  spark.parallelize([2,3,4],4)
rdd4.reduce(lambda x,y : x*y)

24

In [23]:
rdd4.fold(1, lambda x,y : x*y)

24

In [26]:
#빈 RDD
rdd5 = spark.parallelize([])
try:
    rdd5.reduce(lambda a,b : a+b)
except ValueError as e:
    print(f"Reduce Error: {e}")

Reduce Error: Can not reduce() empty RDD

In [27]:
rdd5.fold(0,lambda a,b : a+b)

0

#### reduce(), fold()
1. reduce : 단순한 RDD 연산, 비어있지 않는 RDD의 경우
2. fold : 일반적이고 오류가 없는 연산, 초기값을 적용하여 비어있는 RDD, 파티션의 경우에도 적용할 수 있음

In [28]:
rdd6 = spark.parallelize([1,'a',2])
rdd6.collect()

[1, 'a', 2]

In [44]:
from py4j.protocol import Py4JJavaError

try:
    res = rdd6.reduce(lambda x,y : str(x)+str(y))
    print(type(res), res)
    
except TypeError as e:
    print(f'Reduce Error: {e}')

<class 'str'> 1a2

In [45]:
#groupBy(), aggregate()

In [46]:
rdd7 = spark.parallelize([1,2,1,2,34,4,5,6])
rdd7.collect()

[1, 2, 1, 2, 34, 4, 5, 6]

In [48]:
res= rdd7.groupBy(lambda x : x%2).collect()

In [51]:
#sorted() list을 순회하면서 정렬하여 출력
sorted([(x,sorted(y)) for (x,y) in res])

[(0, [2, 2, 4, 6, 34]), (1, [1, 1, 5])]

In [52]:
#RDD.aggregate(zeroValue, func1_partion, fun2_combine)

In [53]:
fun1 = lambda x,y : (x[0] + y, x[1] +1 )

In [55]:
fun2 = lambda x,y : (x[0] + y[0], x[1] +y[1])

In [56]:
rdd8 = spark.parallelize([1,2,3,4],2)

In [64]:
rdd8.glom().collect()

[[1, 2], [3, 4]]

In [65]:
rdd8.aggregate((0,0), fun1, fun2)

(10, 4)

## key-value RDD (Paired RDD)

1) groupByKey() : 두단계 (groupByKey() -> mapValues())

2) reduceByKey() : 한단계

그룹핑 후 transformation을 수행, 키가 필요함.

reduceByKey() > groupByKey()

In [66]:
rdd9 = spark.parallelize(
    [
        ('짜장면',15),
        ('짬뽕', 10),
        ('짜장면',5),
        ('짬뽕',20)
    ]
)

In [67]:
rdd9_g = rdd9.groupByKey()
rdd9_g

PythonRDD[75] at RDD at PythonRDD.scala:53

In [76]:
#mapValues()
print(rdd9_g.mapValues(list).collect())

[('짜장면', [15, 5]), ('짬뽕', [10, 20])]

In [73]:
print(rdd9_g.mapValues(len).collect())

[('짜장면', 2), ('짬뽕', 2)]

In [74]:
print(rdd9_g.mapValues(max).collect())

[('짜장면', 15), ('짬뽕', 20)]

In [75]:
print(rdd9_g.mapValues(min).collect())

[('짜장면', 5), ('짬뽕', 10)]

In [77]:
rdd9_g.mapValues(lambda x : sum(x)/len(x)).collect()

[('짜장면', 10.0), ('짬뽕', 15.0)]

In [78]:
#reduceByKey
rdd9.reduceByKey(add).collect()

[('짜장면', 20), ('짬뽕', 30)]

#### countByKey()
각 키별로 요소들의 개수 카운트 -> Action

In [82]:
rdd9.countByKey()

defaultdict(int, {'짜장면': 2, '짬뽕': 2})

In [83]:
#key() : 키만 가진 RDD > transformation

In [85]:
rdd9.keys()

PythonRDD[105] at RDD at PythonRDD.scala:53

In [86]:
rdd9.keys().collect()

['짜장면', '짬뽕', '짜장면', '짬뽕']

#### join : outer join, inner join

inner join : 교집합 (default)
outer join : 한쪽에만 있을 때 (left, right)

In [98]:
join_rdd1 = spark.parallelize(
    [('a',10),
    ('b',20),
    ('c',30)]
)

join_rdd2 = spark.parallelize(
    [('a',20),
    ('b',20),
    ('b',10)
    ]
    
)

In [102]:
# join
join_rdd1.join(join_rdd2).collect()

[('b', (20, 20)), ('b', (20, 10)), ('a', (10, 20))]

In [100]:
join_rdd1.leftOuterJoin(join_rdd2).collect()

[('b', (20, 20)), ('b', (20, 10)), ('c', (30, None)), ('a', (10, 20))]

In [101]:
join_rdd1.rightOuterJoin(join_rdd2).collect()

[('b', (20, 20)), ('b', (20, 10)), ('a', (10, 20))]

In [103]:
spark.stop()