In [1]:
from pyspark.sql import SparkSession

# SparkSession 생성
spark = SparkSession.builder \
    .appName("241211_01_SparkSQL_SQLtest") \
    .getOrCreate()

24/12/11 10:29:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [6]:
from pyspark.sql import Row


user_data = [
    Row(user_id=1, username='A', address='서울'),
    Row(user_id=2, username='B', address='대전'),
    Row(user_id=3, username='C', address='경기도'),
    Row(user_id=4, username='D', address=None),
    Row(user_id=5, username='E', address=None),
    Row(user_id=6, username='F', address='서울'),
    Row(user_id=7, username='G', address='경기도'),
    Row(user_id=8, username='H', address='대구'),
    Row(user_id=9, username='I', address='부산'),
    Row(user_id=10, username='J', address='전주'),
    Row(user_id=11, username='K', address='광주')
]


books_data = [
    Row(book_id=1, title="Book A", author_fname="John", author_lname="Doe", pages=300, released_year=2005, stock_quantity=55),
    Row(book_id=2, title="Book B", author_fname="Jane", author_lname="Smith", pages=250, released_year=2010, stock_quantity=40),
    Row(book_id=3, title="Book C", author_fname="Emily", author_lname="Jones", pages=180, released_year=2015, stock_quantity=20),
    Row(book_id=4, title="Book D", author_fname="Chris", author_lname="Brown", pages=320, released_year=2012, stock_quantity=75),
    Row(book_id=5, title="Book E", author_fname="Anna", author_lname="Davis", pages=270, released_year=2008, stock_quantity=35)
]

In [10]:
#Dataframe 생성 및 sql 테이블 생성 

user_df = spark.createDataFrame(user_data)
user_df.createOrReplaceTempView('users')

book_df = spark.createDataFrame(books_data)
book_df.createOrReplaceTempView('books')

In [11]:
spark.sql(
    '''
    select * from users;
    '''
).show()

[Stage 0:>                                                          (0 + 1) / 1]

+-------+--------+-------+
|user_id|username|address|
+-------+--------+-------+
|      1|       A|   서울|
|      2|       B|   대전|
|      3|       C| 경기도|
|      4|       D|   null|
|      5|       E|   null|
|      6|       F|   서울|
|      7|       G| 경기도|
|      8|       H|   대구|
|      9|       I|   부산|
|     10|       J|   전주|
|     11|       K|   광주|
+-------+--------+-------+

In [13]:
spark.sql(
    '''
    select username,
        IF(address IS NULL, '주소없음', address) AS address
    From users;
    '''
).show()

+--------+--------+
|username| address|
+--------+--------+
|       A|    서울|
|       B|    대전|
|       C|  경기도|
|       D|주소없음|
|       E|주소없음|
|       F|    서울|
|       G|  경기도|
|       H|    대구|
|       I|    부산|
|       J|    전주|
|       K|    광주|
+--------+--------+

In [15]:
spark.sql(
    '''
    select *
    from books
    '''
).show()

+-------+------+------------+------------+-----+-------------+--------------+
|book_id| title|author_fname|author_lname|pages|released_year|stock_quantity|
+-------+------+------------+------------+-----+-------------+--------------+
|      1|Book A|        John|         Doe|  300|         2005|            55|
|      2|Book B|        Jane|       Smith|  250|         2010|            40|
|      3|Book C|       Emily|       Jones|  180|         2015|            20|
|      4|Book D|       Chris|       Brown|  320|         2012|            75|
|      5|Book E|        Anna|       Davis|  270|         2008|            35|
+-------+------+------------+------------+-----+-------------+--------------+

In [26]:
books_1= spark.sql(
    '''
        SELECT stock_quantity, 
    	   IF(stock_quantity >= 50, '재고 많음',
    	   IF(stock_quantity >= 30, '재고 중간', '재고 없음')) AS quantity_level
        FROM books;
    '''
)
books_1.show()

+--------------+--------------+
|stock_quantity|quantity_level|
+--------------+--------------+
|            55|     재고 많음|
|            40|     재고 중간|
|            20|     재고 없음|
|            75|     재고 많음|
|            35|     재고 중간|
+--------------+--------------+

In [27]:
books_2 = spark.sql(
    '''
        SELECT stock_quantity, 
            CASE
                WHEN stock_quantity >= 50 THEN '재고 많음'
                WHEN stock_quantity >= 30 THEN '재고 중간'
                ELSE '재고 부족'
            END AS quantity_level
        FROM books;
    '''
)
books_2.show()

+--------------+--------------+
|stock_quantity|quantity_level|
+--------------+--------------+
|            55|     재고 많음|
|            40|     재고 중간|
|            20|     재고 부족|
|            75|     재고 많음|
|            35|     재고 중간|
+--------------+--------------+

In [29]:
#실행결과 비교
books_1.explain()

== Physical Plan ==
*(1) Project [stock_quantity#53L, if ((stock_quantity#53L >= 50)) 재고 많음 else if ((stock_quantity#53L >= 30)) 재고 중간 else 재고 없음 AS quantity_level#223]
+- *(1) Scan ExistingRDD[book_id#47L,title#48,author_fname#49,author_lname#50,pages#51L,released_year#52L,stock_quantity#53L]

In [30]:
books_2.explain()

== Physical Plan ==
*(1) Project [stock_quantity#53L, CASE WHEN (stock_quantity#53L >= 50) THEN 재고 많음 WHEN (stock_quantity#53L >= 30) THEN 재고 중간 ELSE 재고 부족 END AS quantity_level#235]
+- *(1) Scan ExistingRDD[book_id#47L,title#48,author_fname#49,author_lname#50,pages#51L,released_year#52L,stock_quantity#53L]

In [34]:
spark.sql( 
    '''
    select author_lname, count(*)
    from books
    group by author_lname;
'''

).show()

+------------+--------+
|author_lname|count(1)|
+------------+--------+
|       Jones|       1|
|       Davis|       1|
|       Smith|       1|
|         Doe|       1|
|       Brown|       1|
+------------+--------+

In [38]:
# books 테이블 데이터에 borrowed_by 추가
books_data_with_user = [
    Row(book_id=1, title="Book A", author_fname="John", author_lname="Doe", pages=300, released_year=2005, stock_quantity=55, borrowed_by=1),
    Row(book_id=2, title="Book B", author_fname="Jane", author_lname="Smith", pages=250, released_year=2010, stock_quantity=40, borrowed_by=2),
    Row(book_id=3, title="Book C", author_fname="Emily", author_lname="Jones", pages=180, released_year=2015, stock_quantity=20, borrowed_by=3),
    Row(book_id=4, title="Book D", author_fname="Chris", author_lname="Brown", pages=320, released_year=2012, stock_quantity=75, borrowed_by=None),
    Row(book_id=5, title="Book E", author_fname="Anna", author_lname="Davis", pages=270, released_year=2008, stock_quantity=35, borrowed_by=6)
]


books_df_with_user = spark.createDataFrame(books_data_with_user)
books_df_with_user.createOrReplaceTempView("books")

In [44]:
from pyspark.sql.functions import when, lit

# borrowed_by 컬럼 추가 및 데이터 입력
updated_books_df = book_df.withColumn(
    "borrowed_by",
    when(book_df.book_id == 1, 1)
    .when(book_df.book_id == 2, 2)
    .when(book_df.book_id == 3, 3)
    .when(book_df.book_id == 4, lit(None))
    .when(book_df.book_id == 5, 6)
    .otherwise(None)
)

In [46]:
books_sql = spark.sql(
    '''
    select * 
    from books
    '''
)

books_sql.show()

+-------+------+------------+------------+-----+-------------+--------------+-----------+
|book_id| title|author_fname|author_lname|pages|released_year|stock_quantity|borrowed_by|
+-------+------+------------+------------+-----+-------------+--------------+-----------+
|      1|Book A|        John|         Doe|  300|         2005|            55|          1|
|      2|Book B|        Jane|       Smith|  250|         2010|            40|          2|
|      3|Book C|       Emily|       Jones|  180|         2015|            20|          3|
|      4|Book D|       Chris|       Brown|  320|         2012|            75|       null|
|      5|Book E|        Anna|       Davis|  270|         2008|            35|          6|
+-------+------+------------+------------+-----+-------------+--------------+-----------+

In [49]:
#book_id = 3, stock_quantity = 50으로 바꾼다. 
#sql의 update set과 같음


updated_books_df = books_df_with_user.withColumn( 
    'stock_quantity', 
    when(books_df_with_user.book_id == 3, 50).otherwise(books_df_with_user.stock_quantity)
)

updated_books_df.show()

+-------+------+------------+------------+-----+-------------+--------------+-----------+
|book_id| title|author_fname|author_lname|pages|released_year|stock_quantity|borrowed_by|
+-------+------+------------+------------+-----+-------------+--------------+-----------+
|      1|Book A|        John|         Doe|  300|         2005|            55|          1|
|      2|Book B|        Jane|       Smith|  250|         2010|            40|          2|
|      3|Book C|       Emily|       Jones|  180|         2015|            50|          3|
|      4|Book D|       Chris|       Brown|  320|         2012|            75|       null|
|      5|Book E|        Anna|       Davis|  270|         2008|            35|          6|
+-------+------+------------+------------+-----+-------------+--------------+-----------+

In [50]:
#stock_quantity 10% 증가
books_df_with_user.withColumn(
    'stock_quantity',
    books_df_with_user.stock_quantity = books_df_with_user.stock_quantity*10%
)

SyntaxError: invalid syntax (992090041.py, line 5)

In [51]:
#뷰로 등록
updated_books_df.createOrReplaceTempView("books")
spark.sql("select * from books").show()

+-------+------+------------+------------+-----+-------------+--------------+-----------+
|book_id| title|author_fname|author_lname|pages|released_year|stock_quantity|borrowed_by|
+-------+------+------------+------------+-----+-------------+--------------+-----------+
|      1|Book A|        John|         Doe|  300|         2005|            55|          1|
|      2|Book B|        Jane|       Smith|  250|         2010|            40|          2|
|      3|Book C|       Emily|       Jones|  180|         2015|            50|          3|
|      4|Book D|       Chris|       Brown|  320|         2012|            75|       null|
|      5|Book E|        Anna|       Davis|  270|         2008|            35|          6|
+-------+------+------------+------------+-----+-------------+--------------+-----------+

## 데이터 저장

In [54]:
#write의 저장 mode: overwrite, append, ignore, error

updated_books_df.write.csv("data/output/sqltest_updated_books.csv", header = True, mode = 'overwrite')

In [55]:
user_df.write.csv("data/output/sqltest_updated_users.csv", header = True, mode = 'overwrite')

## 데이터 불러오기

In [57]:
updated_books_df1 = spark.read.csv("data/output/sqltest_updated_books.csv", header = True)
updated_books_df1.show()

+-------+------+------------+------------+-----+-------------+--------------+-----------+
|book_id| title|author_fname|author_lname|pages|released_year|stock_quantity|borrowed_by|
+-------+------+------------+------------+-----+-------------+--------------+-----------+
|      3|Book C|       Emily|       Jones|  180|         2015|            50|          3|
|      4|Book D|       Chris|       Brown|  320|         2012|            75|       null|
|      5|Book E|        Anna|       Davis|  270|         2008|            35|          6|
|      1|Book A|        John|         Doe|  300|         2005|            55|          1|
|      2|Book B|        Jane|       Smith|  250|         2010|            40|          2|
+-------+------+------------+------------+-----+-------------+--------------+-----------+

In [59]:
user_df1 = spark.read.csv("data/output/sqltest_updated_users.csv", header = True)

## 조인 실습

In [65]:
# 1. INNER JOIN
joinquery = '''
SELECT book_id, title, author_fname, author_lname, username, address
FROM books b inner join users u on b.borrowed_by = u.user_id
ORDER BY book_id
'''
;

spark.sql(joinquery).show()

[Stage 87:================================================>     (179 + 2) / 200]

+-------+------+------------+------------+--------+-------+
|book_id| title|author_fname|author_lname|username|address|
+-------+------+------------+------------+--------+-------+
|      1|Book A|        John|         Doe|       A|   서울|
|      2|Book B|        Jane|       Smith|       B|   대전|
|      3|Book C|       Emily|       Jones|       C| 경기도|
|      5|Book E|        Anna|       Davis|       F|   서울|
+-------+------+------------+------------+--------+-------+

In [66]:
# 2. LEFT JOIN
joinquery = '''
SELECT book_id, title, author_fname, author_lname, username, address
FROM books b LEFT JOIN users u on b.borrowed_by = u.user_id
ORDER BY book_id
'''
;

spark.sql(joinquery).show()

[Stage 90:=======================================>              (148 + 2) / 200]

+-------+------+------------+------------+--------+-------+
|book_id| title|author_fname|author_lname|username|address|
+-------+------+------------+------------+--------+-------+
|      1|Book A|        John|         Doe|       A|   서울|
|      2|Book B|        Jane|       Smith|       B|   대전|
|      3|Book C|       Emily|       Jones|       C| 경기도|
|      4|Book D|       Chris|       Brown|    null|   null|
|      5|Book E|        Anna|       Davis|       F|   서울|
+-------+------+------------+------------+--------+-------+

In [67]:
#3. RIGHT JOIN
#사용자의 책 대여 목록 -> 전체 사용자 -> 대여한 정보가 없을 때 null

joinquery = '''
SELECT book_id, title, author_fname, author_lname, username, address
FROM books b RIGHT JOIN users u on b.borrowed_by = u.user_id
ORDER BY book_id
'''
;

spark.sql(joinquery).show()

[Stage 93:===================================>                  (131 + 2) / 200]

+-------+------+------------+------------+--------+-------+
|book_id| title|author_fname|author_lname|username|address|
+-------+------+------------+------------+--------+-------+
|   null|  null|        null|        null|       I|   부산|
|   null|  null|        null|        null|       J|   전주|
|   null|  null|        null|        null|       G| 경기도|
|   null|  null|        null|        null|       K|   광주|
|   null|  null|        null|        null|       H|   대구|
|   null|  null|        null|        null|       E|   null|
|   null|  null|        null|        null|       D|   null|
|      1|Book A|        John|         Doe|       A|   서울|
|      2|Book B|        Jane|       Smith|       B|   대전|
|      3|Book C|       Emily|       Jones|       C| 경기도|
|      5|Book E|        Anna|       Davis|       F|   서울|
+-------+------+------------+------------+--------+-------+

In [71]:
#특정지역 = 서울에 거주하는 사용자가 대여한 책 목록 
spark.sql(
    '''
    SELECT book_id, title, author_fname, author_lname, username, address
    FROM books b LEFT JOIN users u on b.borrowed_by = u.user_id
    WHERE u.address == "서울"
    '''
).show()

+-------+------+------------+------------+--------+-------+
|book_id| title|author_fname|author_lname|username|address|
+-------+------+------------+------------+--------+-------+
|      5|Book E|        Anna|       Davis|       F|   서울|
|      1|Book A|        John|         Doe|       A|   서울|
+-------+------+------------+------------+--------+-------+

In [84]:
#사용자별로 대여한 책 수 

spark.sql(
    '''
    SELECT user_id, username, count(book_id) as count
    FROM users u LEFT JOIN books b on u.user_id = b.borrowed_by
    GROUP BY user_id, username
    ORDER BY user_id
    '''
).show()

[Stage 129:==================================>                  (132 + 2) / 200]

+-------+--------+-----+
|user_id|username|count|
+-------+--------+-----+
|      1|       A|    1|
|      2|       B|    1|
|      3|       C|    1|
|      4|       D|    0|
|      5|       E|    0|
|      6|       F|    1|
|      7|       G|    0|
|      8|       H|    0|
|      9|       I|    0|
|     10|       J|    0|
|     11|       K|    0|
+-------+--------+-----+

In [89]:
#book categry column 생성 , 300이상이면 long , 아니면 short

spark.sql(
    '''
    SELECT book_id, title,pages,CASE
                                    WHEN pages >= 300 THEN 'LONG' ELSE 'SHORT'
                                    END AS book_category
    FROM books
    '''
).show()

+-------+------+-----+-------------+
|book_id| title|pages|book_category|
+-------+------+-----+-------------+
|      1|Book A|  300|         LONG|
|      2|Book B|  250|        SHORT|
|      3|Book C|  180|        SHORT|
|      4|Book D|  320|         LONG|
|      5|Book E|  270|        SHORT|
+-------+------+-----+-------------+

In [92]:
#stock_quanity > 50 이상 '충분', 30 이상 '보통', 미만 '부족'

spark.sql(
    '''
    SELECT *, CASE
                WHEN stock_quantity >= 50 THEN '충분'
                WHEN stock_quantity >= 30 THEN '보통'
                ELSE '부족'
                END AS stock_situation
                
    FROM books
    '''
).show()

+-------+------+------------+------------+-----+-------------+--------------+-----------+---------------+
|book_id| title|author_fname|author_lname|pages|released_year|stock_quantity|borrowed_by|stock_situation|
+-------+------+------------+------------+-----+-------------+--------------+-----------+---------------+
|      1|Book A|        John|         Doe|  300|         2005|            55|          1|           충분|
|      2|Book B|        Jane|       Smith|  250|         2010|            40|          2|           보통|
|      3|Book C|       Emily|       Jones|  180|         2015|            50|          3|           충분|
|      4|Book D|       Chris|       Brown|  320|         2012|            75|       null|           충분|
|      5|Book E|        Anna|       Davis|  270|         2008|            35|          6|           보통|
+-------+------+------------+------------+-----+-------------+--------------+-----------+---------------+

In [96]:
#대여가 많이 된 책의 작가를 조회
spark.sql(
    '''
    SELECT author_fname, author_lname, count(book_id) as count
    FROM books
    GROUP BY author_fname, author_lname
    ORDER BY count DESC
    LIMIT 1
    
    '''
).show()

+------------+------------+-----+
|author_fname|author_lname|count|
+------------+------------+-----+
|        Anna|       Davis|    1|
+------------+------------+-----+

In [97]:
#발행 연도별 대여 현황

In [111]:
spark.sql(
    '''
    SELECT released_year, count(borrowed_by) as borrowed_count
    FROM books
        GROUP BY released_year
    '''
).show()

+-------------+--------------+
|released_year|borrowed_count|
+-------------+--------------+
|         2012|             0|
|         2010|             1|
|         2005|             1|
|         2008|             1|
|         2015|             1|
+-------------+--------------+

In [135]:
#사용자의 지역별 책 대여 수 
df1 = spark.sql(
    '''
    SELECT u.address, count(borrowed_by) as borrowed_count
    FROM books b RIGHT JOIN users u on b.borrowed_by = u.user_id
    GROUP BY u.address
    '''
)
df1.show()

+-------+--------------+
|address|borrowed_count|
+-------+--------------+
|   대전|             1|
|   null|             0|
|   전주|             0|
| 경기도|             1|
|   부산|             0|
|   대구|             0|
|   서울|             2|
|   광주|             0|
+-------+--------------+

In [136]:
#대여되지 않은 책들 중 가장 페이지 수가 많은 책 
df2 = spark.sql(
    '''
    SELECT *
    FROM books b LEFT JOIN users u on b.borrowed_by = u.user_id
    WHERE borrowed_by IS NULL
    ORDER BY pages
    LIMIT 1
    '''
)
df2.show()

+-------+------+------------+------------+-----+-------------+--------------+-----------+-------+--------+-------+
|book_id| title|author_fname|author_lname|pages|released_year|stock_quantity|borrowed_by|user_id|username|address|
+-------+------+------------+------------+-----+-------------+--------------+-----------+-------+--------+-------+
|      4|Book D|       Chris|       Brown|  320|         2012|            75|       null|   null|    null|   null|
+-------+------+------------+------------+-----+-------------+--------------+-----------+-------+--------+-------+

In [137]:
#실행계획, DAG 형태 분석

df1.explain()

== Physical Plan ==
*(6) HashAggregate(keys=[address#40], functions=[count(borrowed_by#300L)])
+- Exchange hashpartitioning(address#40, 200), ENSURE_REQUIREMENTS, [id=#2326]
   +- *(5) HashAggregate(keys=[address#40], functions=[partial_count(borrowed_by#300L)])
      +- *(5) Project [borrowed_by#300L, address#40]
         +- SortMergeJoin [borrowed_by#300L], [user_id#38L], RightOuter
            :- *(2) Sort [borrowed_by#300L ASC NULLS FIRST], false, 0
            :  +- Exchange hashpartitioning(borrowed_by#300L, 200), ENSURE_REQUIREMENTS, [id=#2312]
            :     +- *(1) Project [borrowed_by#300L]
            :        +- *(1) Filter isnotnull(borrowed_by#300L)
            :           +- *(1) Scan ExistingRDD[book_id#293L,title#294,author_fname#295,author_lname#296,pages#297L,released_year#298L,stock_quantity#299L,borrowed_by#300L]
            +- *(4) Sort [user_id#38L ASC NULLS FIRST], false, 0
               +- Exchange hashpartitioning(user_id#38L, 200), ENSURE_REQUIREMENTS, [id=#2317]
                  +- *(3) Project [user_id#38L, address#40]
                     +- *(3) Scan ExistingRDD[user_id#38L,username#39,address#40]

In [138]:
df2.explain()

== Physical Plan ==
TakeOrderedAndProject(limit=1, orderBy=[pages#297L ASC NULLS FIRST], output=[book_id#293L,title#294,author_fname#295,author_lname#296,pages#297L,released_year#298L,stock_quantity#384L,borrowed_by#300L,user_id#38L,username#39,address#40])
+- SortMergeJoin [borrowed_by#300L], [user_id#38L], LeftOuter
   :- *(2) Sort [borrowed_by#300L ASC NULLS FIRST], false, 0
   :  +- Exchange hashpartitioning(borrowed_by#300L, 200), ENSURE_REQUIREMENTS, [id=#2364]
   :     +- *(1) Project [book_id#293L, title#294, author_fname#295, author_lname#296, pages#297L, released_year#298L, CASE WHEN (book_id#293L = 3) THEN 50 ELSE stock_quantity#299L END AS stock_quantity#384L, borrowed_by#300L]
   :        +- *(1) Filter isnull(borrowed_by#300L)
   :           +- *(1) Scan ExistingRDD[book_id#293L,title#294,author_fname#295,author_lname#296,pages#297L,released_year#298L,stock_quantity#299L,borrowed_by#300L]
   +- *(4) Sort [user_id#38L ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(user_id#38L, 200), ENSURE_REQUIREMENTS, [id=#2369]
         +- *(3) Filter (isnull(user_id#38L) AND isnotnull(user_id#38L))
            +- *(3) Scan ExistingRDD[user_id#38L,username#39,address#40]

In [102]:
#csv로 save

In [139]:
df1.write.csv("data/output/result1.csv", header = True, mode = 'overwrite')

In [142]:
df2.write.csv("data/output/result2.csv", header = True, mode = 'overwrite')