In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("FirstSparkSessionApp").getOrCreate()

24/12/09 10:13:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
df = spark.read.format('csv').load('data/2015-summary.csv', inferSchema = True, header = True)

In [3]:
df.schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,IntegerType,true)))

In [4]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [5]:
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [6]:
#spark DataTable
df.select('DEST_COUNTRY_NAME').show(5)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|    United States|
|    United States|
|    United States|
|            Egypt|
|    United States|
+-----------------+
only showing top 5 rows

### 테이블 생성

In [7]:
#createOrReplaceTempView
df.createOrReplaceTempView('mobility_data')

In [8]:
#spark SQL
spark.sql("select * from mobility_data where count >= 400").show()

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|       Costa Rica|      United States|   588|
|    United States|        Netherlands|   660|
|      The Bahamas|      United States|   955|
|      El Salvador|      United States|   561|
|           Mexico|      United States|  7140|
|    United States|         Costa Rica|   608|
|         Colombia|      United States|   873|
|    United States|            Jamaica|   712|
|           Panama|      United States|   510|
|    United States|        The Bahamas|   986|
|    United States|          Hong Kong|   414|
|    United States|              China|   920|
|    United States| Dominican Republic|  1420|
|    United States|      United States|370002|
|          Germany|      United States|  1468|
|    United States|        South Korea|   827|
|    United States|        El Salvador|   508|
|    United States|             Panama|   465|
|    United States|           Honduras|   407|
|           Canada|      United States|  8399|
+-----------------+-------------------+------+
only showing top 20 rows

In [9]:
df.count()

256

In [22]:
#dropDuplicates() 중복 제거
df_dup = df.select('DEST_COUNTRY_NAME').dropDuplicates()
df_dup.show()

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|            Anguilla|
|              Russia|
|            Paraguay|
|             Senegal|
|              Sweden|
|            Kiribati|
|              Guyana|
|         Philippines|
|            Djibouti|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
|                Iraq|
|             Germany|
|              Jordan|
|               Palau|
|Turks and Caicos ...|
|              France|
|              Greece|
+--------------------+
only showing top 20 rows

In [23]:
df_dup.count()

132

In [24]:
df.distinct().count()

256

In [25]:
df_dup = df.select('DEST_COUNTRY_NAME').dropDuplicates().cache()
df_dup.show()

24/12/09 10:16:54 WARN CacheManager: Asked to cache already cached data.

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|            Anguilla|
|              Russia|
|            Paraguay|
|             Senegal|
|              Sweden|
|            Kiribati|
|              Guyana|
|         Philippines|
|            Djibouti|
|            Malaysia|
|           Singapore|
|                Fiji|
|              Turkey|
|                Iraq|
|             Germany|
|              Jordan|
|               Palau|
|Turks and Caicos ...|
|              France|
|              Greece|
+--------------------+
only showing top 20 rows

In [27]:
df.sort('DEST_COUNTRY_NAME').show() #셔플

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|             Algeria|      United States|    4|
|              Angola|      United States|   15|
|            Anguilla|      United States|   41|
| Antigua and Barbuda|      United States|  126|
|           Argentina|      United States|  180|
|               Aruba|      United States|  346|
|           Australia|      United States|  329|
|             Austria|      United States|   62|
|          Azerbaijan|      United States|   21|
|             Bahrain|      United States|   19|
|            Barbados|      United States|  154|
|             Belgium|      United States|  259|
|              Belize|      United States|  188|
|             Bermuda|      United States|  183|
|             Bolivia|      United States|   30|
|Bonaire, Sint Eus...|      United States|   58|
|              Brazil|      United States|  853|
|British Virgin Is...|      United States|  107|
|            Bulgaria|      United States|    3|
|        Burkina Faso|      United States|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [14]:
from pyspark.sql.functions import *

#withColumn 새로운 컬럼 추가 
#expr sql 인식 가능 

df3 = df.withColumn('withInCoutnry', expr('ORIGIN_COUNTRY_NAME == DEST_COUNTRY_NAME'))
df3

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: int, withInCoutnry: boolean]

In [15]:
df4 = df3.withColumn('category', expr('CASE WHEN count < 10 THEN "under" WHEN count >= 10 THEN "upper" END'))
df4.show()

+--------------------+-------------------+-----+-------------+--------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withInCoutnry|category|
+--------------------+-------------------+-----+-------------+--------+
|       United States|            Romania|   15|        false|   upper|
|       United States|            Croatia|    1|        false|   under|
|       United States|            Ireland|  344|        false|   upper|
|               Egypt|      United States|   15|        false|   upper|
|       United States|              India|   62|        false|   upper|
|       United States|          Singapore|    1|        false|   under|
|       United States|            Grenada|   62|        false|   upper|
|          Costa Rica|      United States|  588|        false|   upper|
|             Senegal|      United States|   40|        false|   upper|
|             Moldova|      United States|    1|        false|   under|
|       United States|       Sint Maarten|  325|        false|   upper|
|       United States|   Marshall Islands|   39|        false|   upper|
|              Guyana|      United States|   64|        false|   upper|
|               Malta|      United States|    1|        false|   under|
|            Anguilla|      United States|   41|        false|   upper|
|             Bolivia|      United States|   30|        false|   upper|
|       United States|           Paraguay|    6|        false|   under|
|             Algeria|      United States|    4|        false|   under|
|Turks and Caicos ...|      United States|  230|        false|   upper|
|       United States|          Gibraltar|    1|        false|   under|
+--------------------+-------------------+-----+-------------+--------+
only showing top 20 rows

In [16]:
#count 2배
df5 = df4.withColumn('double_count',expr('count')*2)
df5.show()

+--------------------+-------------------+-----+-------------+--------+------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withInCoutnry|category|double_count|
+--------------------+-------------------+-----+-------------+--------+------------+
|       United States|            Romania|   15|        false|   upper|          30|
|       United States|            Croatia|    1|        false|   under|           2|
|       United States|            Ireland|  344|        false|   upper|         688|
|               Egypt|      United States|   15|        false|   upper|          30|
|       United States|              India|   62|        false|   upper|         124|
|       United States|          Singapore|    1|        false|   under|           2|
|       United States|            Grenada|   62|        false|   upper|         124|
|          Costa Rica|      United States|  588|        false|   upper|        1176|
|             Senegal|      United States|   40|        false|   upper|          80|
|             Moldova|      United States|    1|        false|   under|           2|
|       United States|       Sint Maarten|  325|        false|   upper|         650|
|       United States|   Marshall Islands|   39|        false|   upper|          78|
|              Guyana|      United States|   64|        false|   upper|         128|
|               Malta|      United States|    1|        false|   under|           2|
|            Anguilla|      United States|   41|        false|   upper|          82|
|             Bolivia|      United States|   30|        false|   upper|          60|
|       United States|           Paraguay|    6|        false|   under|          12|
|             Algeria|      United States|    4|        false|   under|           8|
|Turks and Caicos ...|      United States|  230|        false|   upper|         460|
|       United States|          Gibraltar|    1|        false|   under|           2|
+--------------------+-------------------+-----+-------------+--------+------------+
only showing top 20 rows

In [17]:
df5.groupby('withInCoutnry').count().show()

+-------------+-----+
|withInCoutnry|count|
+-------------+-----+
|         true|    1|
|        false|  255|
+-------------+-----+

In [18]:
df5.groupby('category').count().show()

+--------+-----+
|category|count|
+--------+-----+
|   under|   48|
|   upper|  208|
+--------+-----+

### Projection & Filter

select a,b,c --> # ***projection*** -> column -> transformation

from TableA 

where a>10 # ***filter*** -> row -> transformation

In [19]:
df6= df5.where('count<5')

In [20]:
df6.count()

46

In [21]:
df6 = df5.where('count>5').where('ORIGIN_COUNTRY_NAME != "United States"')
df6.show()

+-----------------+--------------------+-----+-------------+--------+------------+
|DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|withInCoutnry|category|double_count|
+-----------------+--------------------+-----+-------------+--------+------------+
|    United States|             Romania|   15|        false|   upper|          30|
|    United States|             Ireland|  344|        false|   upper|         688|
|    United States|               India|   62|        false|   upper|         124|
|    United States|             Grenada|   62|        false|   upper|         124|
|    United States|        Sint Maarten|  325|        false|   upper|         650|
|    United States|    Marshall Islands|   39|        false|   upper|          78|
|    United States|            Paraguay|    6|        false|   under|          12|
|    United States|Federated States ...|   69|        false|   upper|         138|
|    United States|              Russia|  161|        false|   upper|         322|
|    United States|         Netherlands|  660|        false|   upper|        1320|
|    United States|             Senegal|   42|        false|   upper|          84|
|    United States|              Angola|   13|        false|   upper|          26|
|    United States|            Anguilla|   38|        false|   upper|          76|
|    United States|             Ecuador|  300|        false|   upper|         600|
|    United States|            Portugal|  134|        false|   upper|         268|
|    United States|          Costa Rica|  608|        false|   upper|        1216|
|    United States|           Guatemala|  318|        false|   upper|         636|
|    United States|            Suriname|   34|        false|   upper|          68|
|    United States|          Cape Verde|   14|        false|   upper|          28|
|    United States|             Jamaica|  712|        false|   upper|        1424|
+-----------------+--------------------+-----+-------------+--------+------------+
only showing top 20 rows

In [137]:
res = df5.where('count>5')

In [138]:
### upper인 ORIGIN_COUNTRY_NAME별 평균 카운트

res.where('category == "upper"').groupby('ORIGIN_COUNTRY_NAME').count().show()

+--------------------+-----+
| ORIGIN_COUNTRY_NAME|count|
+--------------------+-----+
|              Russia|    1|
|            Anguilla|    1|
|             Senegal|    1|
|              Sweden|    1|
|            Kiribati|    1|
|              Guyana|    1|
|         Philippines|    1|
|                Fiji|    1|
|              Turkey|    1|
|             Germany|    1|
|              Jordan|    1|
|               Palau|    1|
|Turks and Caicos ...|    1|
|              France|    1|
|              Greece|    1|
|British Virgin Is...|    1|
|              Taiwan|    1|
|            Dominica|    1|
|           Argentina|    1|
|              Angola|    1|
+--------------------+-----+
only showing top 20 rows

In [139]:
## 카운트가 200이상인 ORIGIN_COUNTRY_NAME
res.select('ORIGIN_COUNTRY_NAME').where('count >=200').show()

+-------------------+
|ORIGIN_COUNTRY_NAME|
+-------------------+
|            Ireland|
|      United States|
|       Sint Maarten|
|      United States|
|      United States|
|        Netherlands|
|      United States|
|      United States|
|      United States|
|      United States|
|      United States|
|      United States|
|      United States|
|            Ecuador|
|      United States|
|      United States|
|         Costa Rica|
|          Guatemala|
|      United States|
|            Jamaica|
+-------------------+
only showing top 20 rows

In [140]:
## 국내 여행이 아니면서 가장 횟수가 많은 ORIGIN_COUNTRY_NAME top10 추출

In [141]:
res.createOrReplaceTempView('country_data')

In [142]:
spark.sql("select * from country_data limit 5").show()

+-----------------+-------------------+-----+-------------+--------+------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withInCoutnry|category|double_count|
+-----------------+-------------------+-----+-------------+--------+------------+
|    United States|            Romania|   15|        false|   upper|          30|
|    United States|            Ireland|  344|        false|   upper|         688|
|            Egypt|      United States|   15|        false|   upper|          30|
|    United States|              India|   62|        false|   upper|         124|
|    United States|            Grenada|   62|        false|   upper|         124|
+-----------------+-------------------+-----+-------------+--------+------------+

In [143]:
spark.sql("select ORIGIN_COUNTRY_NAME, count from country_data where  order by count desc limit 10").show()

+-------------------+------+
|ORIGIN_COUNTRY_NAME| count|
+-------------------+------+
|      United States|370002|
|             Canada|  8483|
|      United States|  8399|
|             Mexico|  7187|
|      United States|  7140|
|      United States|  2025|
|     United Kingdom|  1970|
|      United States|  1548|
|              Japan|  1496|
|      United States|  1468|
+-------------------+------+

In [146]:
## 국내 여행이 아니면서 가장 횟수가 적은 ORIGIN_COUNTRY_NAME top10 추출

In [147]:
spark.sql("select ORIGIN_COUNTRY_NAME, count from country_data where  order by count asc limit 10").show()

+-------------------+-----+
|ORIGIN_COUNTRY_NAME|count|
+-------------------+-----+
|           Paraguay|    6|
|      United States|   12|
|              Egypt|   12|
|           Ethiopia|   12|
|           Pakistan|   12|
|     Czech Republic|   12|
|             Angola|   13|
|            Ukraine|   13|
|      United States|   13|
|      United States|   13|
+-------------------+-----+

In [153]:
## 도착지별 count 총합이 가장 많은 top10 추출 
spark.sql(
    '''
    select DEST_COUNTRY_NAME, sum(count) as total
    from country_data 
    group by DEST_COUNTRY_NAME 
    having total
    order by total desc
    limit 10
    '''
        
).show()

+------------------+------+
| DEST_COUNTRY_NAME| total|
+------------------+------+
|     United States|411318|
|            Canada|  8399|
|            Mexico|  7140|
|    United Kingdom|  2025|
|             Japan|  1548|
|           Germany|  1468|
|Dominican Republic|  1353|
|       South Korea|  1048|
|       The Bahamas|   955|
|            France|   935|
+------------------+------+

In [28]:
spark.stop()

### 집계함수

In [31]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SecondSparkSessionApp").getOrCreate()

In [35]:
df = spark.read.format('csv').load('data/emp.csv', inferSchema = True, header = True)

In [36]:
df.printSchema()

root
 |-- empno: integer (nullable = true)
 |-- ename: string (nullable = true)
 |-- job: string (nullable = true)
 |-- mgr: integer (nullable = true)
 |-- hiredate: string (nullable = true)
 |-- sal: integer (nullable = true)
 |-- comm: integer (nullable = true)
 |-- deptno: integer (nullable = true)

In [38]:
df.select('ename','deptno').show()

+------+------+
| ename|deptno|
+------+------+
| SMITH|    20|
| ALLEN|    30|
|  WARD|    30|
| JONES|    20|
|MARTIN|    30|
| BLAKE|    30|
| CLARK|    10|
| SCOTT|    20|
|  KING|    10|
|TURNER|    30|
| ADAMS|    20|
| JAMES|    30|
|  FORD|    20|
|MILLER|    10|
|  JACK|    70|
+------+------+

In [44]:
#projection & filter
df.select('ename','deptno').where('deptno == 30').show()

+------+------+
| ename|deptno|
+------+------+
| ALLEN|    30|
|  WARD|    30|
|MARTIN|    30|
| BLAKE|    30|
|TURNER|    30|
| JAMES|    30|
+------+------+

In [48]:
from pyspark.sql.functions import count

df.select(count('job')).show()

+----------+
|count(job)|
+----------+
|        15|
+----------+

In [50]:
# selectExpr
df.selectExpr('count(*)').show()

+--------+
|count(1)|
+--------+
|      15|
+--------+

In [56]:
df.select('job').distinct().show()

+---------+
|      job|
+---------+
|  ANALYST|
| SALESMAN|
|    CLERK|
|  MANAGER|
|PRESIDENT|
+---------+

In [58]:
df.select('job').distinct().count() #

[Stage 46:===================================================>  (190 + 2) / 200]

5

In [57]:
df.select(countDistinct('job')).show() # 근사치

[Stage 43:================================================>     (181 + 2) / 200]

+-------------------+
|count(DISTINCT job)|
+-------------------+
|                  5|
+-------------------+

In [59]:
from pyspark.sql.functions import countDistinct, approx_count_distinct

In [61]:
#성능면에서 유리한 연산
df.select(approx_count_distinct('job',0.1)).show()

+--------------------------+
|approx_count_distinct(job)|
+--------------------------+
|                         5|
+--------------------------+

In [62]:
from pyspark.sql.functions import first, last

In [65]:
df.select(first('ename'),last('ename')).show()

+------------+-----------+
|first(ename)|last(ename)|
+------------+-----------+
|       SMITH|       JACK|
+------------+-----------+

In [66]:
df.select(max('sal'),min('sal')).show()

+--------+--------+
|max(sal)|min(sal)|
+--------+--------+
|    5000|     800|
+--------+--------+

In [73]:
#df.select('job','sal').show()
df.selectExpr('sum(distinct sal)').show()

[Stage 66:======================================>               (143 + 2) / 200]

+-----------------+
|sum(DISTINCT sal)|
+-----------------+
|            27975|
+-----------------+

In [76]:
#alias
dfs = df.select( count('sal').alias('total_tx'),
                    sum('sal').alias('total_salary'),
                    avg('sal').alias('avg_salary')
               )

dfs.show()

+--------+------------+------------------+
|total_tx|total_salary|        avg_salary|
+--------+------------+------------------+
|      15|       32225|2148.3333333333335|
+--------+------------+------------------+

In [77]:
dfs = df.select( count('sal').alias('total_tx'),
                    sum('sal').alias('total_salary'),
                    #avg('sal').alias('avg_salary')
                    expr('mean(sal) as avg_salary')
               )

dfs.show()

+--------+------------+------------------+
|total_tx|total_salary|        avg_salary|
+--------+------------+------------------+
|      15|       32225|2148.3333333333335|
+--------+------------+------------------+

### 그룹화

In [102]:
#df.groupBy('job').sum().select('job', 'sum(sal)').show(
df.groupBy('job').agg(expr('sum(sal) as SAL_SUM')).show()

+---------+-------+
|      job|SAL_SUM|
+---------+-------+
|  ANALYST|   6000|
| SALESMAN|   5600|
|    CLERK|   7350|
|  MANAGER|   8275|
|PRESIDENT|   5000|
+---------+-------+

In [95]:
df.groupBy('job').avg().show()

+---------+----------+--------+------------------+---------+-----------+
|      job|avg(empno)|avg(mgr)|          avg(sal)|avg(comm)|avg(deptno)|
+---------+----------+--------+------------------+---------+-----------+
|  ANALYST|    7845.0|  7566.0|            3000.0|     null|       20.0|
| SALESMAN|    7629.5|  7698.0|            1400.0|    550.0|       30.0|
|    CLERK|    8074.2|  7790.4|            1470.0|     null|       30.0|
|  MANAGER|    7682.0|  7839.0|2758.3333333333335|     null|       20.0|
|PRESIDENT|    7839.0|    null|            5000.0|     null|       10.0|
+---------+----------+--------+------------------+---------+-----------+

In [93]:
df.groupBy('job').agg(expr('avg(sal) as SAL_AVG')).show()

+---------+------------------+
|      job|           SAL_AVG|
+---------+------------------+
|  ANALYST|            3000.0|
| SALESMAN|            1400.0|
|    CLERK|            1470.0|
|  MANAGER|2758.3333333333335|
|PRESIDENT|            5000.0|
+---------+------------------+

In [98]:
#표준편차
#1. sql.fucntion #2. sql expression

In [99]:
df.groupby('job').agg(expr('stddev_pop(sal) as SAL_STDEV')).show()

+---------+------------------+
|      job|         SAL_STDEV|
+---------+------------------+
|  ANALYST|               0.0|
| SALESMAN|154.11035007422439|
|    CLERK| 880.6815542521599|
|  MANAGER|223.91714737574006|
|PRESIDENT|               0.0|
+---------+------------------+

## 윈도우 함수

순위, 정렬 - rankm, row_number, dense_rank

누계 - sum, avg, max, min + over()

시차, 선행 - lag, lead

ex) 세션 구간내 분석, 특정시간 동안 일어난 활동 그룹화

In [104]:
#1. partitionBy() : 소그룹으로 나누는 함수
#2. orderBy() : 소그룹 내 정렬 
#3. rowBetween(), rangeBetween()
#4. over()

In [139]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc, asc

In [121]:
#윈도우 명세 설정 
windowspec = Window.orderBy(desc('sal'))

In [122]:
salAllRank = rank().over(windowspec)

In [132]:
#데이터프레임에 컬럼으로 추가 > 액션
df.withColumn("salary_rank", salAllRank).show()

+-----+------+---------+----+----------+----+----+------+-----------+
|empno| ename|      job| mgr|  hiredate| sal|comm|deptno|salary_rank|
+-----+------+---------+----+----------+----+----+------+-----------+
| 7839|  KING|PRESIDENT|null|1981-11-17|5000|null|    10|          1|
| 9292|  JACK|    CLERK|7782|1982-01-23|3200|null|    70|          2|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|null|    20|          3|
| 7902|  FORD|  ANALYST|7566|1981-12-03|3000|null|    20|          3|
| 7566| JONES|  MANAGER|7839|1981-04-02|2975|null|    20|          5|
| 7698| BLAKE|  MANAGER|7839|1981-05-01|2850|null|    30|          6|
| 7782| CLARK|  MANAGER|7839|1981-06-09|2450|null|    10|          7|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|          8|
| 7844|TURNER| SALESMAN|7698|1981-09-08|1500|   0|    30|          9|
| 7934|MILLER|    CLERK|7782|1982-01-23|1300|null|    10|         10|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|         11|
| 7654|MARTIN| SALESMAN|7698|1981-09-28|1250|1400|    30|         11|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|null|    20|         13|
| 7900| JAMES|    CLERK|7698|1981-12-03| 950|null|    30|         14|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|         15|
+-----+------+---------+----+----------+----+----+------+-----------+

24/12/09 13:42:24 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [136]:
df.select( 'empno',salAllRank.alias('salary_rank')).show()

+-----+-----------+
|empno|salary_rank|
+-----+-----------+
| 7839|          1|
| 9292|          2|
| 7788|          3|
| 7902|          3|
| 7566|          5|
| 7698|          6|
| 7782|          7|
| 7499|          8|
| 7844|          9|
| 7934|         10|
| 7521|         11|
| 7654|         11|
| 7876|         13|
| 7900|         14|
| 7369|         15|
+-----+-----------+

24/12/09 13:45:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [147]:
windowspec1 = Window.partitionBy('job').orderBy(desc('sal'))

In [148]:
windowspec1 = rank().over(windowspec1)

In [151]:
df.select(
    'job','ename','sal',
    windowspec1.alias('saljobRank')
).show()

+---------+------+----+----------+
|      job| ename| sal|saljobRank|
+---------+------+----+----------+
|  ANALYST| SCOTT|3000|         1|
|  ANALYST|  FORD|3000|         1|
| SALESMAN| ALLEN|1600|         1|
| SALESMAN|TURNER|1500|         2|
| SALESMAN|  WARD|1250|         3|
| SALESMAN|MARTIN|1250|         3|
|    CLERK|  JACK|3200|         1|
|    CLERK|MILLER|1300|         2|
|    CLERK| ADAMS|1100|         3|
|    CLERK| JAMES| 950|         4|
|    CLERK| SMITH| 800|         5|
|  MANAGER| JONES|2975|         1|
|  MANAGER| BLAKE|2850|         2|
|  MANAGER| CLARK|2450|         3|
|PRESIDENT|  KING|5000|         1|
+---------+------+----+----------+

In [152]:
#부서면 급여 순위 
windowspec2 = Window.partitionBy('deptno').orderBy(desc('sal'))

In [153]:
windowspec2 = rank().over(windowspec2)

In [155]:
df.select(
    'job','ename','deptno','sal',
    windowspec2.alias('deptnosalRank')
).show()

+---------+------+------+----+-------------+
|      job| ename|deptno| sal|deptnosalRank|
+---------+------+------+----+-------------+
|  ANALYST| SCOTT|    20|3000|            1|
|  ANALYST|  FORD|    20|3000|            1|
|  MANAGER| JONES|    20|2975|            3|
|    CLERK| ADAMS|    20|1100|            4|
|    CLERK| SMITH|    20| 800|            5|
|PRESIDENT|  KING|    10|5000|            1|
|  MANAGER| CLARK|    10|2450|            2|
|    CLERK|MILLER|    10|1300|            3|
|    CLERK|  JACK|    70|3200|            1|
|  MANAGER| BLAKE|    30|2850|            1|
| SALESMAN| ALLEN|    30|1600|            2|
| SALESMAN|TURNER|    30|1500|            3|
| SALESMAN|  WARD|    30|1250|            4|
| SALESMAN|MARTIN|    30|1250|            4|
|    CLERK| JAMES|    30| 950|            6|
+---------+------+------+----+-------------+

In [159]:
#누적 급여 계산
from pyspark.sql.functions import dense_rank
sum_window_spec = Window.partitionBy('deptno').orderBy('empno')

In [160]:
new_df = df.withColumn('cum_salary', sum('sal').over(sum_window_spec))
new_df.select(
    'ename','deptno','sal','cum_salary'
).show()

+------+------+----+----------+
| ename|deptno| sal|cum_salary|
+------+------+----+----------+
| SMITH|    20| 800|       800|
| JONES|    20|2975|      3775|
| SCOTT|    20|3000|      6775|
| ADAMS|    20|1100|      7875|
|  FORD|    20|3000|     10875|
| CLARK|    10|2450|      2450|
|  KING|    10|5000|      7450|
|MILLER|    10|1300|      8750|
|  JACK|    70|3200|      3200|
| ALLEN|    30|1600|      1600|
|  WARD|    30|1250|      2850|
|MARTIN|    30|1250|      4100|
| BLAKE|    30|2850|      6950|
|TURNER|    30|1500|      8450|
| JAMES|    30| 950|      9400|
+------+------+----+----------+

In [181]:
#부서별 평균급여 avg('sal')

avg_window_spec = Window.partitionBy('deptno')
avg_df = df.withColumn('avg_salary', avg('sal').over(avg_window_spec))
avg_df.select(
    'ename','deptno','sal','avg_salary').show()

+------+------+----+------------------+
| ename|deptno| sal|        avg_salary|
+------+------+----+------------------+
| SMITH|    20| 800|            2175.0|
| JONES|    20|2975|            2175.0|
| SCOTT|    20|3000|            2175.0|
| ADAMS|    20|1100|            2175.0|
|  FORD|    20|3000|            2175.0|
| CLARK|    10|2450|2916.6666666666665|
|  KING|    10|5000|2916.6666666666665|
|MILLER|    10|1300|2916.6666666666665|
|  JACK|    70|3200|            3200.0|
| ALLEN|    30|1600|1566.6666666666667|
|  WARD|    30|1250|1566.6666666666667|
|MARTIN|    30|1250|1566.6666666666667|
| BLAKE|    30|2850|1566.6666666666667|
|TURNER|    30|1500|1566.6666666666667|
| JAMES|    30| 950|1566.6666666666667|
+------+------+----+------------------+

select 
ename, deptno, sal,
LAG(sal) OVER( patrition by deptno order by empno) as prev_salary,
LEAD(sal) OVER( patrition by deptno order by empno) next_salary
from emp;

In [187]:
from pyspark.sql.functions import lag,lead

#Lead , Lag 이전 급여, 이후 급여 
row_window_spec = Window.partitionBy('deptno').orderBy('empno')

#이전 급여 , 이후 급여 컬럼 
lead_lag_sal_df = df.withColumn('prev_salary', lag('sal').over(row_window_spec))
lead_lag_sal_df = lead_lag_sal_df.withColumn('next_salary', lead('sal').over(row_window_spec))
lead_lag_sal_df.select('ename','deptno','sal','prev_salary','next_salary').show()

+------+------+----+-----------+-----------+
| ename|deptno| sal|prev_salary|next_salary|
+------+------+----+-----------+-----------+
| SMITH|    20| 800|       null|       2975|
| JONES|    20|2975|        800|       3000|
| SCOTT|    20|3000|       2975|       1100|
| ADAMS|    20|1100|       3000|       3000|
|  FORD|    20|3000|       1100|       null|
| CLARK|    10|2450|       null|       5000|
|  KING|    10|5000|       2450|       1300|
|MILLER|    10|1300|       5000|       null|
|  JACK|    70|3200|       null|       null|
| ALLEN|    30|1600|       null|       1250|
|  WARD|    30|1250|       1600|       1250|
|MARTIN|    30|1250|       1250|       2850|
| BLAKE|    30|2850|       1250|       1500|
|TURNER|    30|1500|       2850|        950|
| JAMES|    30| 950|       1500|       null|
+------+------+----+-----------+-----------+

### rollup, cube (행 추가)

rollup: 계층적 집계, 부분합(subtotal), 총합(grandtotal)

cube: 모든 값으로 부분합, 결합 가능한 모든 값의 부분합을 구한다.

In [189]:
df.groupBy('deptno','job').agg(count('*'),sum('sal')).show()

+------+---------+--------+--------+
|deptno|      job|count(1)|sum(sal)|
+------+---------+--------+--------+
|    20|  ANALYST|       2|    6000|
|    20|  MANAGER|       1|    2975|
|    30|  MANAGER|       1|    2850|
|    70|    CLERK|       1|    3200|
|    30| SALESMAN|       4|    5600|
|    30|    CLERK|       1|     950|
|    20|    CLERK|       2|    1900|
|    10|PRESIDENT|       1|    5000|
|    10|    CLERK|       1|    1300|
|    10|  MANAGER|       1|    2450|
+------+---------+--------+--------+

In [191]:
df.rollup('deptno','job').agg(count('*'),sum('sal')).orderBy('deptno','job').show()

[Stage 294:==================================================>  (191 + 2) / 200]

+------+---------+--------+--------+
|deptno|      job|count(1)|sum(sal)|
+------+---------+--------+--------+
|  null|     null|      15|   32225|
|    10|     null|       3|    8750|
|    10|    CLERK|       1|    1300|
|    10|  MANAGER|       1|    2450|
|    10|PRESIDENT|       1|    5000|
|    20|     null|       5|   10875|
|    20|  ANALYST|       2|    6000|
|    20|    CLERK|       2|    1900|
|    20|  MANAGER|       1|    2975|
|    30|     null|       6|    9400|
|    30|    CLERK|       1|     950|
|    30|  MANAGER|       1|    2850|
|    30| SALESMAN|       4|    5600|
|    70|     null|       1|    3200|
|    70|    CLERK|       1|    3200|
+------+---------+--------+--------+

In [192]:
#롤업 -> 대,중분류 최대/최소

df.rollup('deptno','job').agg(count('*'),min('sal'),max('sal')).orderBy('deptno','job').show()

+------+---------+--------+--------+--------+
|deptno|      job|count(1)|min(sal)|max(sal)|
+------+---------+--------+--------+--------+
|  null|     null|      15|     800|    5000|
|    10|     null|       3|    1300|    5000|
|    10|    CLERK|       1|    1300|    1300|
|    10|  MANAGER|       1|    2450|    2450|
|    10|PRESIDENT|       1|    5000|    5000|
|    20|     null|       5|     800|    3000|
|    20|  ANALYST|       2|    3000|    3000|
|    20|    CLERK|       2|     800|    1100|
|    20|  MANAGER|       1|    2975|    2975|
|    30|     null|       6|     950|    2850|
|    30|    CLERK|       1|     950|     950|
|    30|  MANAGER|       1|    2850|    2850|
|    30| SALESMAN|       4|    1250|    1600|
|    70|     null|       1|    3200|    3200|
|    70|    CLERK|       1|    3200|    3200|
+------+---------+--------+--------+--------+

select deptno, 
        job,
        max(sal) as max_sal,
        min(sal) as min_sal
from emp
group by rollup(deptno, job)
order by deptno, job;

In [193]:
#job 별 평균 급여

In [200]:
df.rollup('job').agg(avg('sal').alias('avg_sal'),sum('sal').alias('total_sal')).orderBy('job').show()

+---------+------------------+---------+
|      job|           avg_sal|total_sal|
+---------+------------------+---------+
|     null|2148.3333333333335|    32225|
|  ANALYST|            3000.0|     6000|
|    CLERK|            1470.0|     7350|
|  MANAGER|2758.3333333333335|     8275|
|PRESIDENT|            5000.0|     5000|
| SALESMAN|            1400.0|     5600|
+---------+------------------+---------+

select job,
        avg(sal) as avg_sal,
        sum(sal) as total_sal
from emp
group by rollup('job')

In [ ]:
#deptno, job 평균급여, 최대급여를 모두 소계 냅니다 -cube

In [205]:
df.cube('deptno','job')\
    .agg(round(avg('sal'),1).alias('avg_sal'), 
         max('sal').alias('max_sal'))\
    .orderBy('deptno','job')\
    .show()

+------+---------+-------+-------+
|deptno|      job|avg_sal|max_sal|
+------+---------+-------+-------+
|  null|     null| 2148.3|   5000|
|  null|  ANALYST| 3000.0|   3000|
|  null|    CLERK| 1470.0|   3200|
|  null|  MANAGER| 2758.3|   2975|
|  null|PRESIDENT| 5000.0|   5000|
|  null| SALESMAN| 1400.0|   1600|
|    10|     null| 2916.7|   5000|
|    10|    CLERK| 1300.0|   1300|
|    10|  MANAGER| 2450.0|   2450|
|    10|PRESIDENT| 5000.0|   5000|
|    20|     null| 2175.0|   3000|
|    20|  ANALYST| 3000.0|   3000|
|    20|    CLERK|  950.0|   1100|
|    20|  MANAGER| 2975.0|   2975|
|    30|     null| 1566.7|   2850|
|    30|    CLERK|  950.0|    950|
|    30|  MANAGER| 2850.0|   2850|
|    30| SALESMAN| 1400.0|   1600|
|    70|     null| 3200.0|   3200|
|    70|    CLERK| 3200.0|   3200|
+------+---------+-------+-------+

select deptno,
        job,
        round(avg(sal),1) as avg_sal,
        sum(sal) as total_sal
from emp
group by cube('deptno','job')
order by deptno, job;

In [206]:
spark.stop()