In [6]:
from pyspark import SparkConf, SparkContext
conf = SparkConf().setMaster("local").setAppName("spark_sql_basic1")
sc   = SparkContext(conf=conf)

24/12/10 13:29:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [8]:
#RDD
movies_rdd = sc.parallelize([
    (1, ("어벤져스", "마블")),
    (2, ("슈퍼맨", "DC")),
    (3, ("배트맨", "DC")),
    (4, ("겨울왕국", "디즈니")),
    (5, ("아이언맨", "마블"))
])


attendances_rdd = sc.parallelize([
    (1, (13934592, "KR")),
    (2, (2182227,"KR")),
    (3, (4226242, "KR")),
    (4, (10303058, "KR")),
    (5, (4300365, "KR"))
])

In [9]:
#관객수가 500만 이상인 영화 가져오기 
#1. 조인 -> 필터 -> 영화정보
#2. 필터 -> 조인 -> 영화정보

In [17]:
#1. 
movies_att= movies_rdd.join(attendances_rdd)
movies_att.filter(
    lambda x : x[1][1][0] > 5000000
).collect()

[(4, (('겨울왕국', '디즈니'), (10303058, 'KR'))),
 (1, (('어벤져스', '마블'), (13934592, 'KR')))]

In [18]:
movies_att.take(10)

[(2, (('슈퍼맨', 'DC'), (2182227, 'KR'))),
 (4, (('겨울왕국', '디즈니'), (10303058, 'KR'))),
 (1, (('어벤져스', '마블'), (13934592, 'KR'))),
 (3, (('배트맨', 'DC'), (4226242, 'KR'))),
 (5, (('아이언맨', '마블'), (4300365, 'KR')))]

In [22]:
#2.
filtered_att = attendances_rdd.filter( lambda x : x[1][0] > 5000000)
movies_rdd.join(filtered_att).collect()

[(4, (('겨울왕국', '디즈니'), (10303058, 'KR'))),
 (1, (('어벤져스', '마블'), (13934592, 'KR')))]

In [23]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_sql_basic").getOrCreate()

In [24]:
movies = [
    (1, "어벤져스", "마블", 2012, 4, 26),
    (2, "슈퍼맨", "DC", 2013, 6, 13),
    (3, "배트맨", "DC", 2008, 8, 6),
    (4, "겨울왕국", "디즈니", 2014, 1, 16),
    (5, "아이언맨", "마블", 2008, 4, 30)
]

In [25]:
movie_schema = ['id', 'name', 'company', 'year', 'month', 'day']

In [27]:
df = spark.createDataFrame(data = movies, schema = movie_schema)

In [29]:
df.select('name').show()

+--------+
|    name|
+--------+
|어벤져스|
|  슈퍼맨|
|  배트맨|
|겨울왕국|
|아이언맨|
+--------+

In [ ]:
#sql 사용을 위한 view emdfhr

In [30]:
df.createOrReplaceTempView('movies')

In [33]:
spark.sql('select * from movies').show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|어벤져스|   마블|2012|    4| 26|
|  2|  슈퍼맨|     DC|2013|    6| 13|
|  3|  배트맨|     DC|2008|    8|  6|
|  4|겨울왕국| 디즈니|2014|    1| 16|
|  5|아이언맨|   마블|2008|    4| 30|
+---+--------+-------+----+-----+---+

In [34]:
# company가 마블인 영화 목록
spark.sql("select name from movies where company = '마블'").show()

+--------+
|    name|
+--------+
|어벤져스|
|아이언맨|
+--------+

In [35]:
# 영화 이름이 ~맨으로 끝나는 영화 출력
spark.sql("select name from movies where name like '%맨'").show()

+--------+
|    name|
+--------+
|  슈퍼맨|
|  배트맨|
|아이언맨|
+--------+

In [43]:
#회사가 마블, DC인 영화
# where company = '마블'
#     OR company = 'DC'

spark.sql(
    '''
    select name 
    from movies 
    where company in ('마블', 'DC')
    '''
).show()

+--------+
|    name|
+--------+
|어벤져스|
|  슈퍼맨|
|  배트맨|
|아이언맨|
+--------+

In [46]:
#회사가 '마'로 시작하거나 '나'로 끝나는 영화
spark.sql(
    '''
    select *
    from movies 
    where company like '마%'
        or  company like '%나'
    '''
).show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|어벤져스|   마블|2012|    4| 26|
|  5|아이언맨|   마블|2008|    4| 30|
+---+--------+-------+----+-----+---+

In [48]:
#회사가 '마'로 시작하거나 '나'로 끝나는 영화 중 2010년 이후로 개봉한 영화
spark.sql(
    '''
    select *
    from movies 
    where (company like '마%'
        or  company like '%나')
        and year >= '2010'
    '''
).show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|어벤져스|   마블|2012|    4| 26|
+---+--------+-------+----+-----+---+

In [50]:
#개봉 연도 오름차순 
spark.sql(
    '''
    select *
    from movies 
    order by year
    '''
).show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  3|  배트맨|     DC|2008|    8|  6|
|  5|아이언맨|   마블|2008|    4| 30|
|  1|어벤져스|   마블|2012|    4| 26|
|  2|  슈퍼맨|     DC|2013|    6| 13|
|  4|겨울왕국| 디즈니|2014|    1| 16|
+---+--------+-------+----+-----+---+

In [51]:
attendances = [
    (1, 13934592., "KR"),
    (2, 2182227.,"KR"),
    (3, 4226242., "KR"),
    (4, 10303058., "KR"),
    (5, 4300365., "KR")
]

In [56]:
from pyspark.sql.types import StringType, IntegerType, FloatType, StructType, StructField

att_schema = StructType([ 
    StructField("id", IntegerType(), True), 
    StructField("att", FloatType(), True),
    StructField("theater_country", StringType(), True)
])

In [57]:
att_df = spark.createDataFrame( data=attendances, schema = att_schema )
att_df.dtypes

[('id', 'int'), ('att', 'float'), ('theater_country', 'string')]

In [59]:
att_df.createOrReplaceTempView('att')

In [60]:
att_df.select('*').show()

+---+-----------+---------------+
| id|        att|theater_country|
+---+-----------+---------------+
|  1|1.3934592E7|             KR|
|  2|  2182227.0|             KR|
|  3|  4226242.0|             KR|
|  4|1.0303058E7|             KR|
|  5|  4300365.0|             KR|
+---+-----------+---------------+

In [66]:
movies_views = spark.sql(
    '''
    select movies.id, name, company, theater_country
    from movies join att on movies.id = att.id
    '''   
)

In [67]:
movies_views.createOrReplaceTempView('movies_view')

In [69]:
spark.sql(
    '''
    select *
    from movies_view
    '''
).show()

+---+--------+-------+---------------+
| id|    name|company|theater_country|
+---+--------+-------+---------------+
|  5|아이언맨|   마블|             KR|
|  1|어벤져스|   마블|             KR|
|  3|  배트맨|     DC|             KR|
|  2|  슈퍼맨|     DC|             KR|
|  4|겨울왕국| 디즈니|             KR|
+---+--------+-------+---------------+

In [70]:
sc.stop()